@{
    ViewData["Title"] = "Erişim Reddedildi";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ana site şablonunu kullan
}

<div class="text-center">
    <h1 class="display-4 text-danger">Erişim Reddedildi</h1>
    <p class="lead">Bu sayfayı görüntülemek için yetkiniz bulunmamaktadır.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
</div>